<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <link href="/globals.css" rel="stylesheet"/>
  <link href="/styleguide.css" rel="stylesheet"/>
  <link href="/delivery/create.css" rel="stylesheet"/>
  <title>배송지 관리 - 수정</title>
</head>
<body>
<div class="PAGE">
  <div class="div">
    <div class="header">
      <div class="frame">
        <div class="logo">
          <a class="text-wrapper" href="/">Grids & Circles</a>
        </div>
        <div class="frame-2">
          <div class="div-wrapper">
            <a class="text-wrapper-2" href="/">Home</a>
          </div>
          <div class="header-2">
            <a class="text-wrapper-2"
               href="https://github.com/prgrms-be-devcourse/NBE3-01-Team09"
               target="_blank">Contact</a>
          </div>
          <div class="div-wrapper">
            <div class="text-wrapper-2">About</div>
          </div>
          <div class="header-3">
            <div class="text-wrapper-2">Sign Up</div>
          </div>
        </div>
      </div>
      <div class="frame-3">
        <div class="frame-4">
          <img class="img" src="https://c.animaapp.com/QemcTLqk/img/wishlist.svg"/>
          <div class="with-buy"></div>
          <img class="img" src="https://c.animaapp.com/QemcTLqk/img/user.svg"/>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="roadmap">
      <div class="account">Home</div>
      <img class="line-2" src="https://c.animaapp.com/QemcTLqk/img/line-13.svg"/>
      <div class="nothing">My Account</div>
    </div>
    <div class="text-wrapper-3">내 정보 관리</div>
    <div class="frame-5">
      <a class="text-wrapper-5" th:href="@{/users/{id}(id=${id})}">내 정보</a>
      <a class="text-wrapper-6" th:href="@{/deliveries/{id}(id=${id})}">배송지 관리</a>
    </div>
    <div class="text-wrapper-4">내 주문</div>
    <div class="frame-6">
      <a class="text-wrapper-7" th:href="@{/orders/{id}(id=${id})}">주문목록</a>
    </div>
    <div class="frame-8">
      <div class="group">
        <div class="delivery-box">
          <div class="text-wrapper-8">배송지 수정</div>
          <form class="form" id="updateAddress" th:action="@{/api/delivery}" method="post">
            <input type="hidden" id="userId" name="userId" th:value="${userId}">
            <input type="hidden" id="id" name="id" th:value="${id}">
          <div class="frame-wrapper">
            <div class="address-box">
              <div class="frame-9">
                <div class="text-wrapper-9">받는 분 성함</div>
                <label class="placebox-info" style="margin-right: 40px;">
                  <input class="text-wrapper-10" id="name" name="name" placeholder="Name" type="text">
                </label>
              </div>
              <div class="frame-9">
                <div class="text-wrapper-9">우편 번호</div>
                <label class="placebox-info">
                  <input class="text-wrapper-10" id="zipcode" name="zipcode" placeholder="Zipcode" type="text">
                </label>
              </div>
            </div>
            <div class="address-box">
              <div class="frame-9">
                <div class="text-wrapper-9">주소</div>
                <label class="placebox-info" style="margin-right: 40px;">
                  <input class="text-wrapper-10" id="address" name="address" placeholder="주소" type="text">
                </label>
              </div>
              <div class="frame-9">
                <div class="text-wrapper-9">상세 주소</div>
                <label class="placebox-info">
                  <input class="text-wrapper-10" id="addressDetail" name="addressDetail" placeholder="상세 주소" type="text">
                </label>
              </div>
            </div>
            <div class="frame-9">
              <div class="text-wrapper-9">기본 배송지 여부</div>
              <label class="placebox-info">
                <select class="text-wrapper-10" id="defaultYn" name="defaultYn" required>
                  <option disabled selected value="">-- 선택하세요 --</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </label>
            </div>
          </div>
          </form>
        </div>
      </div>
      <div class="button-wrapper">
        <a class="button-cancel" th:href="@{/deliveries/{id}(id=${id})}">
          <label class="view-all-products">취소</label>
        </a>
        <button id="updateBtn" class="button-add">
          <label class="view-all-products">저장</label>
        </button>
      </div>
    </div>
  </div>
</div>
<script>

  document.getElementById('updateBtn').addEventListener('click', function (e) {
    e.preventDefault();

    const form = document.getElementById('updateAddress');
    const formData = new FormData(form);

    const data = {
      id: formData.get('id'),
      userid: formData.get('userId'),
      name: formData.get('name'),
      zipcode: formData.get('zipcode'),
      address: formData.get('address'),
      addressDetail: formData.get('addressDetail'),
      defaultYn: formData.get('defaultYn')
    };

    console.log('Updating address with data:', data);

    fetch('/api/delivery', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
            .then((response) => {
              console.log('Response status:', response.status);
              return response.json();
            })
            .then((responseData) => {
              console.log('Response data:', responseData);

              if (responseData.status === '성공') {
                alert('수정이 완료되었습니다.');
                window.location.href = `/deliveries/${data.userid}`; // 수정 완료 후 리다이렉트
              } else {
                alert('수정에 실패했습니다: ' + (responseData.message || '알 수 없는 오류'));
              }
            })
            .catch((error) => {
              console.error('Error during update:', error);
              alert('네트워크 오류 또는 예기치 못한 오류가 발생했습니다.');
            });
  });

</script>
</body>
</html>
