.PAGE {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PAGE .div {
  background-color: var(--bg);
  width: 1440px;
  height: 981px;
  position: relative;
}

.PAGE .header {
  display: inline-flex;
  align-items: center;
  gap: 130px;
  position: absolute;
  top: 88px;
  left: 135px;
}

.PAGE .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 160px;
  position: relative;
  flex: 0 0 auto;
}

.PAGE .logo {
  position: relative;
  width: 118px;
  height: 24px;
}

.PAGE .text-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--heading-24px-bold-font-family);
  font-weight: var(--heading-24px-bold-font-weight);
  color: var(--text-2);
  font-size: var(--heading-24px-bold-font-size);
  letter-spacing: var(--heading-24px-bold-letter-spacing);
  line-height: var(--heading-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-bold-font-style);
}

.PAGE .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.PAGE .div-wrapper {
  position: relative;
  width: 48px;
  height: 24px;
}

.PAGE .text-wrapper-2 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .header-2 {
  position: relative;
  width: 66px;
  height: 24px;
}

.PAGE .header-3 {
  position: relative;
  width: 61px;
  height: 24px;
}

.PAGE .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.PAGE .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.PAGE .img {
  position: relative;
  width: 32px;
  height: 32px;
}

.PAGE .with-buy {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(https://c.animaapp.com/QemcTLqk/img/cart1.svg);
  background-size: 100% 100%;
}

.PAGE .line {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 142px;
  left: 0;
  background-image: url(https://c.animaapp.com/QemcTLqk/img/line-3.svg);
  background-size: 100% 100%;
}

.PAGE .roadmap {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 222px;
  left: 135px;
}

.PAGE .account {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.PAGE .line-2 {
  position: relative;
  width: 6.89px;
  height: 12.2px;
  object-fit: cover;
}

.PAGE .nothing {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.PAGE .text-wrapper-3 {
  position: absolute;
  top: 322px;
  left: 135px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.PAGE .text-wrapper-4 {
  position: absolute;
  top: 474px;
  left: 135px;
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-medium-font-size);
  line-height: var(--title-16px-medium-line-height);
  font-family: var(--title-16px-medium-font-family);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.PAGE .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 363px;
  left: 170px;
}

.PAGE .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  line-height: var(--title-16px-regular-line-height);
  font-family: var(--title-16px-regular-font-family);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 515px;
  left: 170px;
}

.PAGE .text-wrapper-6 {
  opacity: 0.5;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #000000;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.PAGE .text-wrapper-6-1 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #db4444;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.PAGE .text-wrapper-7 {
  position: absolute;
  top: 626px;
  left: 135px;
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-medium-font-size);
  line-height: var(--title-16px-medium-line-height);
  font-family: var(--title-16px-medium-font-family);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.PAGE .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 667px;
  left: 170px;
}

.PAGE .group {
  position: absolute;
  width: 995px;
  height: 76px;
  top: 205px;
  left: 391px;
}

.PAGE .navbar {
  position: relative;
  width: 983px;
  height: 76px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  padding-right: 10px;
}

.PAGE .text-wrapper-9 {
  position: relative;
  width: fit-content;
  /*margin-top: -1.00px;*/
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  line-height: var(--title-16px-regular-line-height);
  font-family: var(--title-16px-regular-font-family);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-10 {
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-11 {
  top: 26px;
  left: 500px;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-12 {
  top: 26px;
  left: 650px;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-13 {
  top: 26px;
  left: 780px;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-14 {
  top: 26px;
  left: 900px;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .overlap {
  width: 993px;
  top: 287px;
  position: absolute;
  left: 391px;
}

.PAGE .navbar-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.PAGE .div-2 {
  position: absolute;
  width: 983px;
  height: 76px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.PAGE .text-wrapper-15 {
  top: 24px;
  left: 25px;
  white-space: nowrap;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-16 {
  top: 24px;
  left: 179px;
  white-space: nowrap;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-17 {
  top: 24px;
  left: 333px;
  white-space: nowrap;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-18 {
  top: 24px;
  left: 495px;
  white-space: nowrap;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: 12px;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-19 {
  top: 24px;
  left: 646px;
  white-space: nowrap;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: 12px;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-20 {
  top: 24px;
  left: 769px;
  white-space: nowrap;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: 12px;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .text-wrapper-21 {
  top: 24px;
  left: 889px;
  white-space: nowrap;
  position: absolute;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: 12px;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .element {
  position: absolute;
  width: 50px;
  height: 56px;
  top: 8px;
  left: 22px;
  object-fit: cover;
}

.PAGE .actions {
  display: flex;
}

.PAGE .button-add {
  all: unset;
  box-sizing: border-box;
  width: 103px;
  top: 21px;
  display: flex;
  height: 29px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  position: relative;
  background-color: var(--button-2);
  border-radius: 4px;
  cursor: pointer;
}

.PAGE .view-all-products {
  position: relative;
  width: fit-content;
  margin-top: -14.50px;
  margin-bottom: -12.50px;
  margin-left: -34.50px;
  margin-right: -34.50px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.PAGE .pagination {
  position: absolute;
  top: 725px;
  left: 850px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
  display: flex;
  gap: 10px;
}

.PAGE .pagination a {
  color: #000000;
}

.PAGE .pagination .active {
  color: #e84d4d;
  font-weight: bold;
}


.PAGE .item-add {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 138px;
  height: 29px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: absolute;
  top: 159px;
  left: 1227px;
  background-color: var(--button-2);
  border-radius: 4px;
  cursor: pointer;
}

.PAGE .view-all-products-2 {
  position: relative;
  width: fit-content;
  margin-top: -14.50px;
  margin-bottom: -12.50px;
  margin-left: -11.50px;
  margin-right: -11.50px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.PAGE .list-container {
  display: flex;
  flex-direction: column; /* 항목을 세로로 쌓기 */
  gap: 10px; /* 각 항목 간 간격 */
}

.PAGE .item-info {
  display: flex;
}

.PAGE .item-info:hover {
  background-color: #e84d4d; /* 호버 시 버튼 배경색 */
}

.PAGE .actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.PAGE .button-add:hover {
  background-color: #e84d4d; /* 호버 시 버튼 배경색 */
}

.PAGE .order-container {
  display: flex;
  position: absolute;
  width: 995px;
  height: 636px;
  top: 251px;
  left: 377px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
  background-color: var(--primary);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--categogy-5);
}

.PAGE .frame-8 {
  position: absolute;
  width: 870px;
  height: 630px;
  top: 212px;
  left: 400px;
  background-color: var(--primary);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--categogy-5);
}

.PAGE .item-box {
  position: relative;
  width: 818px;
  height: 100px;
  background-color: var(--primary);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--categogy-5);
  display: flex;
  align-items: center;
}

.PAGE .items {
  position: absolute;
  left: 41px;
}

.PAGE .group {
  position: relative;
  top: 27px;
  left: 71px;
}

.PAGE .text-wrapper-8 {
  position: relative;
  top: 0;
  left: 0;
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-20px-medium-font-size);
  line-height: var(--title-20px-medium-line-height);
  font-family: var(--title-20px-medium-font-family);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.PAGE .frame-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  top: 44px;
  left: 585px;
  flex-direction: column;
}

.PAGE .frame-wrapper-2 {
  display: inline-flex;
  gap: 5px;
  left: 100px;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.PAGE .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  justify-content: space-between;
  width: -webkit-fill-available;
}


.PAGE .placebox-info-1 {
  position: relative;
  left: 15px;
}

.PAGE .placebox-info-2 {
  position: relative;
  left: 15px;
}

.PAGE .placebox-info input {
  border: none;
  width: 90%;
  background-color: #F5F5F5;
}

.PAGE .item-price {
  position: relative;
  bottom: 5px;
  left: 560px;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  line-height: var(--title-16px-regular-line-height);
  font-family: var(--title-16px-regular-font-family);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.PAGE .item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  top: 59px;
  position: relative;
}

.PAGE .order-image {
  border-radius: 8px;
  width: 70px;
}

.PAGE .button-wrapper-2 {
  left: 363px;
  top: 206px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  margin-bottom: 22px;
}