<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link href="/globals.css" rel="stylesheet"/>
  <link href="/styleguide.css" rel="stylesheet"/>
  <link href="/user/sign-up.css" rel="stylesheet"/>
  <title>로그인</title>
</head>
<body>
<div class="PAGE">
  <div class="div">
    <div class="header">
      <div class="frame">
        <div class="logo">
          <a class="text-wrapper" href="/">Grids & Circles</a>
        </div>
        <div class="frame-2">
          <div class="div-wrapper">
            <a class="text-wrapper-2" href="#">Home</a>
          </div>
          <div class="header-2">
            <a class="text-wrapper-2"
               href="https://github.com/prgrms-be-devcourse/NBE3-01-Team09"
               target="_blank">Contact</a>
          </div>
          <div class="div-wrapper">
            <div class="text-wrapper-2">About</div>
          </div>
          <div class="header-3">
            <div class="text-wrapper-2">Sign Up</div>
          </div>
        </div>
      </div>
      <div class="frame-3">
        <div class="frame-4">
          <img class="img" src="https://c.animaapp.com/QemcTLqk/img/wishlist.svg"/>
          <div class="with-buy"></div>
          <img class="img" src="https://c.animaapp.com/QemcTLqk/img/user.svg"/>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="frame-3">
      <div class="side-image"><img class="dl-beatsnoop" src="/banner.jpg"/></div>
      <div class="frame-4">
        <div class="frame-5">
          <div class="text-wrapper-4">로그인</div>
          <div class="text-wrapper-5">Enter your details below</div>
        </div>
        <form action="/" class="frame-6" method="post">
          <div class="frame-7">
            <div class="frame-8">
              <label>
                <input class="text-wrapper-6" placeholder="Email"/>
              </label>
              <div class="under-line"></div>
            </div>
            <div class="frame-8">
              <label>
                <input class="text-wrapper-6" placeholder="Password"/>
              </label>
              <div class="under-line"></div>
            </div>
          </div>
          <div class="frame-9">
            <button class="button"><label class="view-all-products">Login</label></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
