<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="utf-8"/>
  <link href="/globals.css" rel="stylesheet"/>
  <link href="/styleguide.css" rel="stylesheet"/>
  <link href="/admin/order/detail.css" rel="stylesheet"/>
  <title>관리자 - 주문 목록</title>
</head>
<body>
<div class="PAGE">
  <div class="div">
    <div class="header">
      <div class="frame">
        <div class="logo">
          <a class="text-wrapper" href="/">Grids & Circles</a>
        </div>
        <div class="frame-2">
          <div class="div-wrapper">
            <a class="text-wrapper-2" href="/">Home</a>
          </div>
          <div class="header-2">
            <a class="text-wrapper-2"
               href="https://github.com/prgrms-be-devcourse/NBE3-01-Team09"
               target="_blank">Contact</a>
          </div>
          <div class="div-wrapper">
            <div class="text-wrapper-2">About</div>
          </div>
          <div class="header-3">
            <div class="text-wrapper-2">Sign Up</div>
          </div>
        </div>
      </div>
      <div class="frame-3">
        <div class="frame-4">
          <img class="img" src="https://c.animaapp.com/QemcTLqk/img/wishlist.svg"/>
          <div class="with-buy"></div>
          <img class="img" src="https://c.animaapp.com/QemcTLqk/img/user.svg"/>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="roadmap">
      <div class="account">Home</div>
      <img class="line-2" src="https://c.animaapp.com/QemcTLqk/img/line-13.svg"/>
      <div class="nothing">My Account</div>
    </div>
    <div class="text-wrapper-3">상품관리</div>
    <div class="frame-5">
      <a class="text-wrapper-5" href="/admins/items">상품목록</a>
    </div>
    <div class="text-wrapper-4">회원관리</div>
    <div class="frame-6">
      <a class="text-wrapper-6" href="/admins/users">회원목록</a>
    </div>
    <div class="text-wrapper-7">주문관리</div>
    <div class="frame-7">
      <a class="text-wrapper-6-1" href="/admins/orders">주문목록</a>
    </div>

    <div class="frame-8">
      <div class="group">
        <div class="text-wrapper-8">주문상세</div>
        <div class="frame-wrapper">
          <div class="frame-9">
            <div class="text-wrapper-9">배송지</div>
            <div class="placebox-info-1">
              <div class="text-wrapper-10">서울 은평구</div>
            </div>
          </div>
          <div class="frame-9">
            <div class="text-wrapper-9">주문자명</div>
            <div class="placebox-info-2">
              <div class="text-wrapper-10">홍길동</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item-box">
          <div class="items">
            <img alt="" class="order-image" src="/banner.jpg">
            <div class="frame-wrapper-2">
              <div class="frame-9">
                <div class="text-wrapper-9">상품명</div>
                <div class="placebox-info-1">
                  <div class="text-wrapper-10">커피콩</div>
                </div>
              </div>
              <div class="frame-9">
                <div class="text-wrapper-9">수량</div>
                <div class="placebox-info-2">
                  <div class="text-wrapper-10">1</div>
                </div>
              </div>
              <div class="item-price">
                총액 10000원
              </div>

            </div>
          </div>
        </div>
        <div class="item-box">
          <div class="items">
            <img alt="" class="order-image" src="/banner.jpg">
            <div class="frame-wrapper-2">
              <div class="frame-9">
                <div class="text-wrapper-9">상품명</div>
                <div class="placebox-info-1">
                  <div class="text-wrapper-10">커피콩</div>
                </div>
              </div>
              <div class="frame-9">
                <div class="text-wrapper-9">수량</div>
                <div class="placebox-info-2">
                  <div class="text-wrapper-10">1</div>
                </div>
              </div>
              <div class="item-price">
                총액 10000원
              </div>
            </div>
          </div>
        </div>
        <div class="item-box">
          <div class="items">
            <img alt="" class="order-image" src="/banner.jpg">
            <div class="frame-wrapper-2">
              <div class="frame-9">
                <div class="text-wrapper-9">상품명</div>
                <div class="placebox-info-1">
                  <div class="text-wrapper-10">커피콩</div>
                </div>
              </div>
              <div class="frame-9">
                <div class="text-wrapper-9">수량</div>
                <div class="placebox-info-2">
                  <div class="text-wrapper-10">1</div>
                </div>
              </div>
              <div class="item-price">
                총액 10000원
              </div>

            </div>
          </div>
        </div>
        <div class="item-box">
          <div class="items">
            <img alt="" class="order-image" src="/banner.jpg">
            <div class="frame-wrapper-2">
              <div class="frame-9">
                <div class="text-wrapper-9">상품명</div>
                <div class="placebox-info-1">
                  <div class="text-wrapper-10">커피콩</div>
                </div>
              </div>
              <div class="frame-9">
                <div class="text-wrapper-9">수량</div>
                <div class="placebox-info-2">
                  <div class="text-wrapper-10">1</div>
                </div>
              </div>
              <div class="item-price">
                총액 10000원
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper-2">
        <a class="button" href="/admins/orders">
          <label class="view-all-products">목록</label>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>